header.header
	.clearfix
		.header-top
			.container
				.row
					.col-xs-12
						.header-top__container
							.header-top__left
								i.i-search.header__search-icon
								input.header__search(type="search")
							.header-top__right
								a.header-top__phone(href="tel:89851231234")
									| 8 (985) 123-12-34
								.social.header-top__social
									a.social__link(href="#")
										.i-social-vk
									a.social__link(href="#")
										.i-social-fb
									a.social__link(href="#")
										.i-social-is
						.header-top__container.header-top__container_mobile
							input.header__search_mobile.header__search(type="search")

	.clearfix
		.container
			.row
				.col-xs-12
					.header__container
						.header__nav
							div.nav-top__mobile.visible-xs.visible-sm.visible-md
								.nav-top__icon
									span
									span
									span
						.header__logo
							img(src="images/logo.png", alt="Лавка Плюс +", width="247", height="32")
						.header__nav.visible-lg
							ul.nav-top
								li.nav-top__item
									a.nav-top__link.nav-top__link_active(href="#")
										| Фрукты
								li.nav-top__item
									a.nav-top__link(href="#")
										| Овощи
								li.nav-top__item
									a.nav-top__link(href="#")
										| Сухофрукты
								li.nav-top__item
									a.nav-top__link(href="#")
										| Специи   
								li.nav-top__item
									a.nav-top__link(href="#")
										| Сеты &amp; Подарки
								li.nav-top__item
									a.nav-top__link(href="#")
										| Контакты
						.header__basket
							a.basket.fancy(href="#basket")
								.basket__icon
									i.i-basket
								.basket__text
									.basket__count
										| (
										span.basket__count_val
											| 0
										| )
									.basket__price
										span.basket__price_val
											| 0
										|  руб
					.hidden-lg
						ul.nav-top
							li.nav-top__item
								a.nav-top__link.nav-top__link_active(href="#")
									| Фрукты
							li.nav-top__item
								a.nav-top__link(href="#")
									| Овощи
							li.nav-top__item
								a.nav-top__link(href="#")
									| Сухофрукты
							li.nav-top__item
								a.nav-top__link(href="#")
									| Специи   
							li.nav-top__item
								a.nav-top__link(href="#")
									| Сеты &amp; Подарки
							li.nav-top__item
								a.nav-top__link(href="#")
									| Контакты	