main.main
	.container
		.row
			.col-xs-12
				h1.text__h1.text__yellow.main__title
					| Свежие овощи
				h2.text__h2.text__white.main__subtitle
					| на Вашем столе зимой и летом!
			.clearfix.main__items
				.col-xs-12.col-sm-6.col-md-3
					.main__item
						.main__item-pr
							i.i-main-1
						.main__item-desc
							| Цены ниже, чем около дома
				.col-xs-12.col-sm-6.col-md-3
					.main__item
						.main__item-pr
							i.i-main-2
						.main__item-desc
							| Всегда свежие и вкусные продукты
				.col-xs-12.col-sm-6.col-md-3
					.main__item
						.main__item-pr
							i.i-main-3
						.main__item-desc
							| Своевременная доставка, возможность регуляреой подписки
				.col-xs-12.col-sm-6.col-md-3
					.main__item
						.main__item-pr
							i.i-main-4
						.main__item-desc
							| Мы сохраняем Ваше время, деньги плюс здоровье
